* {
  padding: 0;
  margin: 0;
}

.header {
  height: 100px;
  width: 100wh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  color: white;
  font-weight: 800;
  font-size: 24px;
  background-color: black;
}

a {
  margin: 10px;
}
